# Baseline Score

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [2]:
bdry = pd.read_csv("../data/cleaned_data.csv")

In [5]:
bdry.drop(columns="Unnamed: 0", inplace=True)

In [6]:
bdry

            time     BDRY     BDI
0     2018-03-22  25.5130  1117.0
1     2018-03-23  24.1005  1122.0
2     2018-03-26  24.8400  1126.0
3     2018-03-27  24.0800  1117.0
4     2018-03-28  23.3800  1080.0
...          ...      ...     ...
1113  2022-11-28   7.6600  1347.0
1114  2022-11-29   7.5400  1327.0
1115  2022-11-30   7.8600  1355.0
1116  2022-12-01   7.7100  1338.0
1117  2022-12-02   7.7000  1324.0

[1118 rows x 3 columns]