# Preprocessor

1. Create target (daily log differences between BDRY values).
2. MinMax scale (normalize the features)
3. Apply Sequencer/Window Generator (imported as a .py file)
4

In [23]:
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
import numpy as np 
import pandas as pd
import os

from bdi_predict.model.params import BASE_PROJECT_PATH
from bdi_predict.model.preprocessor import train_val_test_split, min_max_scaler

In [25]:
df = pd.read_csv(os.path.join(BASE_PROJECT_PATH, "data", "cleaned_data.csv"))

In [26]:
df = df.set_index("time").copy()

In [27]:
df.head(3)

               BDRY     BDI  log_BDRY    target
time
2018-03-23  24.1005  1122.0  1.382026 -0.024735
2018-03-26  24.8400  1126.0  1.395152  0.013126
2018-03-27  24.0800  1117.0  1.381656 -0.013495

In [28]:
train_val_test_ratio = (7, 2, 1) 
dfs = train_val_test_split(df=df, train_val_test_ratio=train_val_test_ratio)

1

In [38]:
df_train_scaled, df_val_scaled, df_test_scaled = min_max_scaler(dfs=dfs)

['BDRY' 'BDI' 'log_BDRY' 'target']
<class 'numpy.ndarray'>

In [39]:
df_train_scaled.head(3)

       BDRY       BDI  log_BDRY    target
0  0.769748  0.240992  0.890506  0.337520
1  0.797941  0.242314  0.905305  0.531249
2  0.768967  0.239339  0.890090  0.395035

In [40]:
type(df_train)

pandas.core.frame.DataFrame